h1{
    color: brown;
    text-align:center;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


body{
    text-align: left;
}

td{
    color: #ff0f0f;;
    font-family: Arial;
}

th{
    color:#ff0f0f;
    font-family: Arial;
}
