*{
    margin: 0;
    padding: 0;
    
}
body{
    
    margin-top: 100px;
    margin-left: 200px;
    background-color: aqua;
    
}
table{
    width:40%;
    border: 1px solid;
    
    
}
table td{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}