h1{
    text-align: center;
    background-color: green;
}
body{
    background-color:skyblue;
}
table{
     border: 1px solid black;
     border-collapse: collapse;
     border-spacing: 5px;
     padding: 5px;
     text-align: center;
     border-color:red;
     float: bottom;
     
}
td{
    border: 1px solid black;
    color: yellow;
    background-color: violet;
    
    }
    
    
th{
        border: 1px solid black;
        color: red;
    }

p{
    text-align: center;
}
tfoot{
	text-color:red;
     }


    