/* * {
    background-color: steelblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: white;
}

body {
    background-color: aqua;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: white;
} */

h1, p {
    text-align: center;
}

p {
    text-align: justify;
}

/* Child Selector */
div>h3, div>h5 {
    background-color: red;
}

div>p {
    background-color:aquamarine !important;
}

/* Descendent Selector */
div p {
    background-color:darkgoldenrod;
}
/* Child Selector */
h1~h4, h2~h6 {
    color: red;
}
/* Adjacent Child Selector */
h1+h2, h2+h3, h6+p {
    color:brown;
}
h2 {
    color:black;
}





