h1{
    text-align: center;
}
table{

    padding-top: 60px;
    padding-left: 250px;

    
}
colgroup{
    column-width: 50%;
    column-width: 20%;
    column-width:30%;
}
thead{
    border-style: 5px,solid black;
    background-color: aquamarine;
    font-weight: bold;
    border-spacing: 30px;
    font-size: large;
    
}
tbody{
    text-align:center;

    
}
tbody tr:nth-child(even){
    background-color: cornsilk;
}
   tbody tr:nth-child(odd){
        background-color: lightskyblue;
    }



tfoot{
    column-span: 2;
}


.trs{
    background-color: coral;
}
