body {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    background-color: coral
}

h1 {
    background-color: coral;
}

td {
    text-align: justify;
    vertical-align: top;
}

.menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    width: 17%;
    background-color: coral;
}

.menu td {
    background-color:gold;
}

.content {
    width: 83%;
    background-color: white;
    border: 15px solid white;
}

a {
    text-decoration: none;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:active {
    color: brown;
}

a:hover {
    color: cornflowerblue;
}

